<body onload='document.forms[0].submit()'>
  <form action="<%= redirect_uri %>" method='post'>
    <input type='hidden' name='authToken' value='<%= user.token %>'>
    <input type='hidden' name='userId' value='<%= user.id %>'>
  </form>
</body>
